{
  "presets": ["env"],
  "plugins": [
    "transform-vue-jsx", 
    "syntax-dynamic-import", 
    "transform-object-rest-spread"
  ],
  "comments": false,
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": [ "istanbul" ]
    }
  }
}
